<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url('app_home') }}">BDA</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{{ url('app_home') }}">Home</a></li>
            <li><a href="/posts/journal">Ch'ti Marcel</a></li>
            <li><a href="/posts/newsletter">Newsletters</a></li>
            <li><a href="/posts/podcast">Podcast</a></li>
            {% if user is defined and user is not null and 'ROLE_ADMIN' in user.roles %}
                <li><a href="{{ url('app_add_post') }}">Upload</a></li>
                <li><a href="{{ url('app_user_list') }}">Admin</a></li>
            {% endif %}
        </ul>
        {% if user is not defined or user is null %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url('app_login') }}">Sign in</a></li>
            <li><a href="{{ url('app_register') }}">Sign Up</a></li>
        </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url('app_user_edit') }}">Profile</a></li>
                <li><a href="{{ url('app_logout') }}">Logout</a></li>
            </ul>
        {% endif %}
    </div>
</nav>